# Default ignored files
/shelf/
/workspace.xml
[Bb]in/
# Rider ignored files
/.idea/
[Oo]bj/
*.sln.iml
/.idea.ConsoleApp1.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
